extends ../layout

block content
  .page-header
    h3 Sign in
    .form-group
      .col-sm-offset-3.col-sm-7
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fab.fa-facebook-f.fa-sm
          | Sign in with Facebook
