nav.navbar.navbar-expand-lg.navbar-dark.bg-primary(style="padding-left:100px; padding-right:100px")
  a.navbar-brand(href='/') Komunally
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav.ml-auto
      a.nav-item.nav-link(href='/' class=title =='Home'? 'active' : '')
        | Home
        span.sr-only (current)
        a.nav-item.nav-link(href='/available' class=title =='Available' ? 'active' : '') Dashboard
      a.nav-item.nav-link(href='/community' class=title =='Community' ? 'active' : '') Community
      if user
        a.nav-item.nav-link(href='/logout') Logout
