extends layout

block content
  .container.mt-3
    .row
      each val in [1,2,3,4]
        .col-md-6
          .card.flex-md-row.mb-4.box-shadow.h-md-250
            .card-body.d-flex.flex-column.align-items-start
              strong.d-inline-block.mb-2.text-success Design
              h3.mb-0
                a.text-dark(href='#') Post title
              .mb-1.text-muted &nbsp;
              p.card-text.mb-auto
                | This is a wider card with supporting text below as a natural lead-in to additional content.
              a(href='#') View
            img.card-img-right.flex-auto.d-none.d-lg-block(alt='Thumbnail [200x250]', style='width: 200px; height: 250px;', src='https://source.unsplash.com/random/200x250')

  .container.mt-4
    .row
      if user
        .col-md-6
          h3 By You
          .col-md-12.p-0
            .card.flex-md-row.mb-4.box-shadow.h-md-250
              .card-body.d-flex.flex-column.align-items-start
                | Lorem ipsum dolor sit amet.
          .col-md-12.p-0
            .card.flex-md-row.mb-4.box-shadow.h-md-250
              .card-body.d-flex.flex-column.align-items-start
                | Lorem ipsum dolor sit amet.
          .col-md-12.p-0
            .card.flex-md-row.mb-4.box-shadow.h-md-250
              .card-body.d-flex.flex-column.align-items-start
                | Lorem ipsum dolor sit amet.
      .col-md-6
        h3 By People
        .col-md-12.p-0
          .card.flex-md-row.mb-4.box-shadow.h-md-250
            .card-body.d-flex.flex-column.align-items-start
              | Lorem ipsum dolor sit amet.
        .col-md-12.p-0
          .card.flex-md-row.mb-4.box-shadow.h-md-250
            .card-body.d-flex.flex-column.align-items-start
              | Lorem ipsum dolor sit amet.
        .col-md-12.p-0
          .card.flex-md-row.mb-4.box-shadow.h-md-250
            .card-body.d-flex.flex-column.align-items-start
              | Lorem ipsum dolor sit amet.
