extends layout

block content
  .container.mt-3
    h3 Strength
    .row
      //- CONNECTIONS
      .col-md-3.js-card-form
        .card.flex-md-row.mb-4.box-shadow.h-md-250
          .card-body.d-flex.flex-column.align-items-start
            strong.d-inline-block.mb-2.text-success Connections
            .js-strength-static
              h1.mb-0.text-right
                .text-dark.js-strength-value 0
            .js-strength-form.d-none
              form(action="post")
                input.form-control(type="number", name="connection")
                a.btn.w-50.mt-3.js-strength-cancel-trigger Cancel
                input.btn.btn-primary.w-50.mt-3(type="submit", value="Save")
            .mb-1.text-muted &nbsp;
            p.card-text.mb-auto
            a.js-strength-edit-trigger(href='#') Edit

      //- Vanue
      .col-md-3.js-card-form
        .card.flex-md-row.mb-4.box-shadow.h-md-250
          .card-body.d-flex.flex-column.align-items-start
            strong.d-inline-block.mb-2.text-success Vanue
            .js-strength-static
              h1.mb-0.text-right
                .text-dark.js-strength-value 0
            .js-strength-form.d-none
              form(action="post")
                input.form-control(type="number", name="vanue")
                a.btn.w-50.mt-3.js-strength-cancel-trigger Cancel
                input.btn.btn-primary.w-50.mt-3(type="submit", value="Save")
            .mb-1.text-muted &nbsp;
            p.card-text.mb-auto
            a.js-strength-edit-trigger(href='#') Edit

      //- Fundings
      .col-md-3.js-card-form
        .card.flex-md-row.mb-4.box-shadow.h-md-250
          .card-body.d-flex.flex-column.align-items-start
            strong.d-inline-block.mb-2.text-success Fundings
            .js-strength-static
              h1.mb-0.text-right
                .text-dark.js-strength-value 0
            .js-strength-form.d-none
              form(action="post")
                input.form-control(type="number", name="fundings")
                a.btn.w-50.mt-3.js-strength-cancel-trigger Cancel
                input.btn.btn-primary.w-50.mt-3(type="submit", value="Save")
            .mb-1.text-muted &nbsp;
            p.card-text.mb-auto
            a.js-strength-edit-trigger(href='#') Edit

      //- Publication
      .col-md-3.js-card-form
        .card.flex-md-row.mb-4.box-shadow.h-md-250
          .card-body.d-flex.flex-column.align-items-start
            strong.d-inline-block.mb-2.text-success Publication
            .js-strength-static
              h1.mb-0.text-right
                .text-dark.js-strength-value 0
            .js-strength-form.d-none
              form(action="post")
                input.form-control(type="number", name="publication")
                a.btn.w-50.mt-3.js-strength-cancel-trigger Cancel
                input.btn.btn-primary.w-50.mt-3(type="submit", value="Save")
            .mb-1.text-muted &nbsp;
            p.card-text.mb-auto
            a.js-strength-edit-trigger(href='#') Edit

  .container.mt-4
    .row
      if !user
        .col-md-6
          h3 By Me
          each val in [1,2,3,4]
            .col-md-12.p-0
              .card.flex-md-row.mb-4.box-shadow.h-md-250
                .card-body.d-flex.flex-column.align-items-start
                  strong.d-inline-block.mb-2.text-success
                    | Designs
                    a.badge.badge-secondary.badge-pill.badge-info.text-white.ml-4(href="#") #hastag1

                  h3.mb-0
                    a.text-dark(href='#') Post title
                  .mb-1.text-muted &nbsp;
                  p.card-text.mb-auto
                    | This is a wider card with supporting text below as a natural lead-in to additional content.
                  p.card-text.mb-auto.mt-3
                    | Allies
                  
                  .d-flex.justify-content-between.align-items-center.mt-3
                    img.mr-2.img-fluid.rounded-circle.w-75(src="https://source.unsplash.com/random/45x45", alt="sponshorship")
                    img.mr-2.img-fluid.rounded-circle.w-75(src="https://source.unsplash.com/random/45x45", alt="sponshorship")
                    img.mr-2.img-fluid.rounded-circle.w-75(src="https://source.unsplash.com/random/45x45", alt="sponshorship")
                    img.mr-2.img-fluid.rounded-circle.w-75(src="https://source.unsplash.com/random/45x45", alt="sponshorship")
                  //- a.btn.btn-primary.btn-block.mt-5(href='#') Help

      .col-md-6
        h3 By Allies
        each val in [1,2,3,4]
          .col-md-12.p-0
            .card.flex-md-row.mb-4.box-shadow.h-md-250
              .card-body.d-flex.flex-column.align-items-start
                strong.d-inline-block.mb-2.text-success
                  | Designs
                  a.badge.badge-secondary.badge-pill.badge-info.text-white.ml-4(href="#") #hastag1

                h3.mb-0
                  a.text-dark(href='#') Post title
                .mb-1.text-muted &nbsp;
                p.card-text.mb-auto
                  | This is a wider card with supporting text below as a natural lead-in to additional content.
                p.card-text.mb-auto.mt-3
                  | Allies

                .d-flex.justify-content-between.align-items-center.mt-3
                  img.mr-2.img-fluid.rounded-circle.w-75(src="https://source.unsplash.com/random/45x45", alt="sponshorship")
                  img.mr-2.img-fluid.rounded-circle.w-75(src="https://source.unsplash.com/random/45x45", alt="sponshorship")
                  img.mr-2.img-fluid.rounded-circle.w-75(src="https://source.unsplash.com/random/45x45", alt="sponshorship")
                  img.mr-2.img-fluid.rounded-circle.w-75(src="https://source.unsplash.com/random/45x45", alt="sponshorship")
                //- a.btn.btn-primary.btn-block.mt-5(href='#') Help
